
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
/* ------------------------- */


.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: hsl(0, 100%, 74%) ;
  
}
.wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: no-repeat url(../images/bg-intro-desktop.png) center;
}

.main {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex: 1 1 auto;
}
.leftText {
  /* flex: 1 1 50%; */
  
}
.leftText__title {
  color: white;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  max-width: 380px;
  margin-bottom: 25px;
}

.leftText__text {
  color: white;
  max-width: 500px;
  line-height: 1.5;
}
.rightContent {
  /* flex: 1 1 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}
.rightContent__tryIt {
  background-color:hsl(248, 32%, 49%);
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 7px 0px hsla(249, 10%, 26%, 0.319);
  margin-bottom: 25px;
}
.rightContent__tryIt h4{
  text-align: center;
  padding: 25px 105px;
  color: white;
}
.rightContent__formBlock {
  box-shadow: 0px 7px 0px hsla(249, 10%, 26%, 0.318);
  border-radius: 10px;
  background-color: white;
}
.rightContent__forma {
  max-width: 600px;
  justify-content: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.forma__input{
  padding: 20px 0px 20px 50px;
  outline: 1px solid hsla(249, 10%, 26%, 0.519);
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
  position: relative;
}
.forma__input:focus{
  outline: 2px solid hsla(249, 10%, 26%);
}
.forma__btn {
  position: relative;
  color: white;
  background-color: hsl(154, 59%, 51%);
  padding: 20px 0px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  margin-bottom: -20px;
}
.forma__btn::before{
  position: absolute;
  content: '';
  bottom: -5px;
  border-radius: 10px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: hsl(154, 59%, 51%, 0.3);
  transition: all 0.3s ease 0s;
}
.forma__btn:active{
  transform: translateY(5px);
}
.forma__btn:active::before{
  transform: translateY(-5px);
}
.forma__btn:hover{ 
  background-color: hsl(154, 49%, 51%);  
}
.redColor {
  color: hsl(0, 100%, 74%);
}
.forma__footer{
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}


@media(max-width: 1080px){
  .main{
    display: flex;
    flex-direction: column;
  }
}


@media(max-width: 580px){
  .main{
    padding: 0 20px;
    margin-bottom: 70px;
  }
  .rightContent__tryIt h4{
    line-height: 1.4;
    padding: 25px 50px;
  }
  .leftText__title {
    color: white;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 25px;
    max-width: 580px ;
    margin-top: 85px;
  }
  .leftText__text {
    color: white;
    max-width: 500px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
  }
  .forma__input{
    padding: 20px 0px 20px 20px;
    font-weight: 600;
    position: relative;

  }
  .rightContent__forma {
    max-width: 550px;
    justify-content: center;
    padding: 35px;
  }
  .forma__btn {
    font-weight: 500;
  }
}
/*  */
.min1{
  min-width: 100%;
  position: relative;
}
.min1::after{
  position: absolute;
  display: none ;
  content: url('../images/icon-error.svg');
  z-index: 12;
  width: 24px;
  height: 24px;
  top: 18px;
  right: 18px;
}

.fN._active::after{
  display: block;
}
.fSn._active::after{
  display: block;
}
.fE._active::after{
  display: block;
}
.fP._active::after{
  display: block;
}
.fN._active::before{
  content: 'First name cannot be empty';
  display: block ;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  bottom: -17px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 10px;
  width: 150px;
  right: 0;
}

.fSn._active::before {
  content: 'Last name cannot be empty';
  display: block ;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  bottom: -17px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 10px;
  width: 150px;
  right: 0;
}

.fE._active::before {
  content: "Looks like it's not an email";
  display: block ;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  bottom: -17px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 10px;
  width: 150px;
  right: 0;
}

.fP._active::before {
  content: 'Password cannot be empty';
  display: block ;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  bottom: -17px;
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 10px;
  width: 150px;
  right: 0;
}


 .forma__input._active{
  outline: 2px solid  hsl(0, 100%, 74%);
  position: relative;
} 
.min1::after .forma__input._active{
  position: absolute;
  display: block;
  content: url('../images/icon-error.svg');
  z-index: 12;
  width: 24px;
  height: 24px;
  top: 18px;
  right: 18px;
} 
.forma__input._active::placeholder   {
  color: transparent;
}
